@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model List<QClass>

<!doctype html>


<html>
<head>
    <meta name="viewport" content="width = device - width" />
    <title>
    </title>

    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {


        })
        
    </script>
    

</head>

<body>
    <nav>
        <form>
            <table>
                <tr>
                    <td><button asp-action="AddQClass">添加题目类别</button></td>
                    <td><button asp-action="Index" asp-controller="Home">桌面</button></td>
                    <td><button asp-action="Logout" asp-controller="User">登出</button></td>
                </tr>
            </table>
            
        </form>
    </nav>
    <form method="get" enctype="application/x-www-form-urlencoded">
        <table>
            <tr>
                <th>题目类型</th>
                <th>题库数量</th>
                <th>查看题库</th>
                <th>修改类别</th>
                <th>添加单选</th>
                <th>添加多选</th>
                <th>删除类别</th>
            </tr>
            <tbody>
                @foreach (var a in Model)
                {
                <tr>
                    <td><d>@a.Class</d></td>
                    <td><d>@a.Count</d></td>
                    <td><button asp-action="GetAllExamModelsByQ" asp-route-Id="@a.Id">查看题库</button></td>
                    <td><button asp-action="EditQClass" asp-route-id="@a.Id">修改类别</button></td>
                    <td><button asp-action="AddExamModelNotMultiple" asp-route-id="@a.Id">添加单选</button></td>
                    <td><button asp-action="AddExamModelMultiple" asp-route-id="@a.Id">添加多选</button></td>
                    <td><button asp-action="DeleteQClass" asp-route-id="@a.Id">删除类别</button></td>
                </tr>
                }
                </tbody>
            </table>
        </form>
    

</body>

</html>